


   <div class="panel" id="two-panel">


<div id="textqrshow"></div>

    <div class="panel-title">Create Plain Text to QR </div>
      <br>
  <form id="textform">
       <textarea class="form-control" name="TEXT" rows="10" id="TEXT" placeholder="Enter Your Text" required></textarea>
  <br>
  <input class="btn-get-started scrollto"  id = "sbtn"  type="submit">
</form>




</div>