  <div class="panel" id="two-panel">
         <br><br>
    <div class="panel-title">Create Plain Text to QR </div>
      <br>

   <form action="#">
       <textarea class="form-control" name="message" rows="10" placeholder="Enter Your Text" required></textarea>
  <br>
  <input class="btn-get-started scrollto"  id = "sbtn"  type="submit">
</form>
</div>