  <div class="panel" id="five-panel">


<div id="smsqrshow"></div>

         <br><br>
    <div class="panel-title">Create Qr to Send Sms </div>
      <br>

   <form id="smsform">
         
  <input type="number" class="form-control" id="num" name="num"   placeholder="Enter Number" required>
  <br>
         <textarea class="form-control" name="sms" rows="5" id="sms" placeholder="Enter Your Text here" required></textarea>

         <br />
         

  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">
</form>



</div> 