  <div class="panel" id="five-panel">


 @if (ViewBag.Qr != null)
{
    <br><br>
    <div class="panel-title">Click on QR to Download </div>
    <br>
    <a href="@ViewBag.Qr"  download>
        <img src="@ViewBag.Qr" class="img-fluid animated"  width="300px" style="margin-left: 100px;" ></a>
    <br>   <br>

     <a href="@Url.Action("services","Home")">

    <button class="btn-get-started scrollto" id = "sbtn" > Use Again</button>
         </a>
}
else
{
         <br><br>
    <div class="panel-title">Create Qr to Send Sms </div>
      <br>

   <form id="smsform">
         
  <input type="number" class="form-control" id="num" name="num"   placeholder="Enter Number" required>
  <br>
         <textarea class="form-control" name="sms" rows="5" id="sms" placeholder="Enter Your Text here" required></textarea>

         <br />
         

  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">
</form>


}
</div> 