

  <div class="panel" id="one-panel">


@if (ViewBag.Qr != null)
{
    <br><br>
    <div class="panel-title">Click on QR to Download </div>
    <br>
    <a href="@ViewBag.Qr"  download>
        <img src="@ViewBag.Qr" class="img-fluid animated"  width="300px" style="margin-left: 100px;" ></a>
    <br>   <br>

     <a href="@Url.Action("services","Home")">

    <button class="btn-get-started scrollto" id = "sbtn" > Use Again</button>
         </a>
}
else
{
    <br /><br />
    
    <div class="panel-title">Create URL to QR Code </div>
      <br>

   <form  id="urlform">
  <input type="text" name="URL" class="form-control" id="URL" placeholder="Enter Your Website" required>
  <br>
  <input class="btn-get-started scrollto" id = "sbtn" type="submit"  >
</form>




}
</div>


