 
  <div class="panel" id="three-panel">


      
<div id="factorybitcoinqrshow"></div>


         <br><br>
    <div class="panel-title">Create QR for Crypto Payments </div>
      <br>

    <form id="factorycryptoform">

         <div  style="display:flex;">
<h6><strong>Select Color:</strong></h6>
<h6 style="padding-left:280px;"><strong>Add Logo:</strong></h6>
</div>


<div id="uhi" style="display:flex; ">
<input type="color" id="BColor"  style="width:120px; height:30px;" name="BColor" value="#000000">
<input type="file" id="BpostedFiles" name="BpostedFiles" style="padding-left:200px;"   accept="image/png, image/jpeg"   multiple>
</div>


  <br>

    <div class="select">
        <select id="coin">
            <option value="none" selected>Select          </option>
            <option value="bitcoin">BitCoin          </option>
            <option value="ethereum">Ethereum          </option>
            <option value="bnb">BNB          </option>

        </select>
    </div>
    <br>
    
  <input type="text" name="acc" class="form-control" id="acc" placeholder="Enter Reciever Account" required>
  <br>
  <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="5"  placeholder="Enter Amount" required>
  <br />
  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">

    </form>
  

    </div>