 <div class="panel" id="four-panel">


     
<div id="wifiqrshow"></div>
    
    <br><br>
    <div class="panel-title">Create Qr to Connect To Wifi </div>
      <br>

   <form id="wifiform">
         <input type="text" name="network" class="form-control" id="network" placeholder="Enter Network Name" required>
  <br>
           <input type="text" name="password" class="form-control" id="password" placeholder="Enter Password" required>
  <br />

      <div class="select">
        <select id="type" name="type">
            <option value="WPA">WPA/WPA2</option>
            <option value="WEP">WEP</option>
            <option value="nopass" selected>None</option>

        </select>
        <br />
        </div>



  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">
</form>



</div>