 <div class="panel" id="four-panel">
         <br><br>
    <div class="panel-title">Create Qr to Connect To Wifi </div>
      <br>

   <form action="#">
         <input type="text" name="network" class="form-control" id="network" placeholder="Enter Network Name" required>
  <br>
           <input type="text" name="pass" class="form-control" id="pass" placeholder="Enter Password" required>
  <br />

      <div class="select">
        <select id="standard-select">
            <option value="wpa/wpa2" selected>WPA/WPA2          </option>
            <option value="wep">WEP         </option>
            <option value="nonw">None          </option>

        </select>
        <br />
        </div>



  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">
</form>
</div>