
 <div class="panel" id="seven-panel">
        <br><br>
    <div class="panel-title">Convert Image To QR </div>
      <br>






<form enctype="multipart/form-data" id="imageform" >
           
<input type="file" id="postedFiles" class="form-control"   multiple/> <br />

    <input class="btn-get-started scrollto" id = "sbtn" type="submit"  >
        </form>
</div>


