
 <div class="panel" id="seven-panel">
        <br><br>
    <div class="panel-title">Create QR code for Social Accounts </div>
      <br>

   <form action="#">
  <input type="text" name="url" class="form-control" id="url" placeholder="Enter Your Profile Link" required>
  <br>
  <input class="btn-get-started scrollto"  id = "sbtn" type="submit">
</form>

</div>