 <div class="panel" id="four-panel">


     
<div id="factorywifiqrshow"></div>
    
    <br><br>
    <div class="panel-title">Create Qr to Connect To Wifi </div>
      <br>

   <form id="factorywifiform">



        <div  style="display:flex;">
<h6><strong>Select Color:</strong></h6>
<h6 style="padding-left:280px;"><strong>Add Logo:</strong></h6>
</div>


<div id="uhi" style="display:flex; ">
<input type="color" id="WColor"  style="width:120px; height:30px;" name="WColor" value="#000000">
<input type="file" id="WpostedFiles" name="WpostedFiles" style="padding-left:200px;"   accept="image/png, image/jpeg"   multiple>
</div>




  <br>

         <input type="text" name="network" class="form-control" id="network" placeholder="Enter Network Name" required>
  <br>
           <input type="text" name="password" class="form-control" id="password" placeholder="Enter Password" required>
  <br />

      <div class="select">
        <select id="type" name="type">
            <option value="WPA">WPA/WPA2</option>
            <option value="WEP">WEP</option>
            <option value="nopass" selected>None</option>

        </select>
        <br />
        </div>



  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">
</form>



</div>