    
<br><br>
    <div class="panel-title">Click on QR to Download </div>
    <br>
    <a href="@ViewBag.Qr"  download>
        <img src="@ViewBag.Qr" class="img-fluid animated"   style="margin-left: 120px; width:250px" ></a>