 
  <div class="panel" id="three-panel">


      
<div id="bitcoinqrshow"></div>


         <br><br>
    <div class="panel-title">Create QR for Crypto Payments </div>
      <br>

    <form id="cryptoform">


    <div class="select">
        <select id="coin">
            <option value="none" selected>Select          </option>
            <option value="bitcoin">BitCoin          </option>
            <option value="ethereum">Ethereum          </option>
            <option value="bnb">BNB          </option>

        </select>
    </div>
    <br>
    
  <input type="text" name="acc" class="form-control" id="acc" placeholder="Enter Reciever Account" required>
  <br>
  <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="5"  placeholder="Enter Amount" required>
  <br />
  <input class="btn-get-started scrollto" id = "sbtn"  type="submit">

    </form>
  

    </div>